body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 100%;
  font-family: "myriad pro","PT Sans", "Arial", serif;
}
h2 {
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: 100%;
  font-family:"PT Sans", "Arial",;
}
